@model WebApplicationRandomOrg.Models.RandomPassword

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h4>Случайные пароли</h4>
    <hr />


  
    @Html.ValidationSummary(true, "", new { @class = "text-light" })
    <div class="form-group">
        @Html.LabelFor(model => model.includeLowerCase, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.includeLowerCase)
                @Html.ValidationMessageFor(model => model.includeLowerCase, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.includeUpperCase, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.includeUpperCase)
                @Html.ValidationMessageFor(model => model.includeUpperCase, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.includeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.includeNumber)
                @Html.ValidationMessageFor(model => model.includeNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.includeSpecial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.includeSpecial)
                @Html.ValidationMessageFor(model => model.includeSpecial, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lengthofPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lengthofPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lengthofPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2" >Сколько паролей</b>
        <div class="col-md-10">          
            <input class="form-control" type="text" name="quantityofrandomPass" />
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сгенерировать" class="btn btn-default" />
            </div>
        </div>
    </div>

    <p>@ViewBag.outputListPass</p>
}

