@model IEnumerable<WebApplicationRandomOrg.Models.Result>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestType.NameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutPutResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestType.NameType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutPutResult)
        </td>
      
    </tr>
}

</table>
