
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Random.ua </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />

 

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Random.ua</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About us</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            Generate Number
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="@Url.Action("RandomIntDouble","GenerateNumber")">Random Number(int,double)</a></li>
                            <li><a href="@Url.Action("RandomPassword","GenerateNumber")">Random Password</a></li>
                            <li><a href="@Url.Action("ListRandomNumbers","GenerateNumber")">List of Random Numbers</a></li>
                            <li><a href="@Url.Action("ListRandomPassword","GenerateNumber")">List Of Random Passwords</a></li>
                            <li><a href="@Url.Action("SelectRandomWords","GenerateNumber")">Random Word</a></li>
                            <li><a href="@Url.Action("SelectRandomDate","GenerateNumber")">Random Date</a></li>
                            <li><a href="#">Random Point On The Map</a></li>
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (User.Identity.IsAuthenticated && User.Identity.Name != "Admin")
                    {

                        <li>  <a href="@Url.Action("Edit", "Account")">Добро пожаловать @User.Identity.Name</a></li>
                        <li> @Html.ActionLink("Logout", "Logout", "Account")</li>

                    }
                    else if (User.Identity.Name != "Admin")
                    {

                        <li><a href="@Url.Action("Registration", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                    else if (User.Identity.Name == "Admin")
                    {
                        <li><a href="@Url.Action("Index", "UserAccountss")">Страница Админа</a></li>
                        <li> @Html.ActionLink("Logout", "Logout", "Account")</li>
                    }




                </ul>

            </div>

        </div>
    </nav>
   


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">
                © 2018 Designed By Vadym Tselikin
                @DateTime.Now

            </div>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>


